@{
    ViewData["Title"] = "Disclaimer Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All of these Images and Titles are used for a project they are the properties of the respective makers and creaters.</p>
